<div class="title">
  <h3>Post a Comment</h3>
</div>

<%= form_for [ @article, @comment ] do |f| %>
  
  <div class="form-field">
    <%= f.text_area :body %>
  </div>

  <div class="submit-button">
    <%= f.submit 'Post Comment' %>
    <%= inline_svg_tag "pencil.svg" %>
  </div>
<% end %>