<div class="back-link">
    <a href="javascript:history.back()">
        <%= inline_svg_tag "arrow_back" %>
    </a>
</div>
<div class="title">
    <h1>Edit Article</h1>
</div>

<%= render partial: "form" %>