<div class="back-link">
    <a href="javascript:history.back()">
        <%= inline_svg_tag "arrow_back.svg" %>
    </a>
</div>
<div class="title">
    <h1>Create a New Article</h1>
</div>

<%= render partial: "form" %>