<div class="back-link">
    <a href="javascript:history.back()">
        <%= inline_svg_tag "arrow_back.svg" %>
    </a>
</div>

<div class="title">
    <h1>All Tags</h1>
</div>

<ul>
    <% @tags.each do |tag| %>
        <div class="large-resource-link">
            <li><%= link_to tag.name, tag %></li>
        </div>
    <% end %>
</ul>