<div class="back-link">
    <a href="javascript:history.back()">
        <%= inline_svg_tag "arrow_back.svg" %>
    </a>
</div>

<div class="title">
    <h1>Articles tagged with '<span><%= @tag.name %></span>'</h1>
</div>

<ul>
    <% @tag.articles.each do |article| %>
        <div class="large-resource-link">
            <li><%= link_to article.title, article %></li>
        </div>
    <% end %>
</ul>