<div class="back-link">
    <a href="javascript:history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F2CC8F" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
        </svg>
    </a>
</div>

<div class="title">
  <h1>Login</h1>
</div>

<%= form_tag author_sessions_path, method: :post do %>
  
  <div class="form-field">
    <%= text_field_tag :email, nil, placeholder: "Email..." %>
  </div>
    
  <div class="form-field">
    <%= password_field_tag :password, nil, placeholder: "Password..." %>
  </div>
  <div class="submit-button">
    <%= submit_tag "Login" %>
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F2CC8F" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
    <path d="M20 12h-13l3 -3m0 6l-3 -3" />
    </svg>
  </div>
<% end %>