* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f1de;
}

header {
    background-color: #3d405b;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #f2cc8f;
}

nav ul li {
    display: inline-block;
    padding: 10px 30px 10px 30px;
}

nav ul li a {
    text-decoration: none;
    color: #f2cc8f;
}

nav ul li a:hover {
    color: #f0a73a;
}

nav ul li a:active {
    font-weight: bold;
    color: #f0a73a;
}

#article-list-header {
    width: 100%;
    height: 10vh;
    margin: 0 auto 30px auto;
    text-align: center;
    color: #3D405B;
    font-size: 2em;
}

.table-link {
    text-align: center;
}

.table-link a {
    font-size: 1.7em;
    color: #3d405b;
    padding: 0px 20px 0px 20px;
}

.table-link a:hover {
    color: #8087c2;
}

.table-link a:active {
    color: #3d405b;
    font-weight: bold;
}

.article-update-time {
    font-size: 1.3em;
    text-align: center;
    text-decoration: none;
    color: #3d405b;
    padding: 0px 20px 0px 20px;
}

.article-tags {
    font-size: 1.7em;
    text-align: center;
    text-decoration: none;
    color: #3d405b;
    padding: 0px 20px 0px 20px;
}

#create-article-link {
    width: 70px;
    height: 70px;
    background-color: #81B29A;
    display: block;
    border-radius: 10px;
    float: right;
    margin: 2%;
}

#create-article-link a{
    width: 70px;
    height: 70px;
    display: block;
    padding: 10px 0 0 12px;
}

#create-article-link:hover{
    background-color: #a9e9ca;
    cursor: pointer;
}

#create-article-link a:active{
    text-decoration: none;
    font-weight: bold;
}

#articles-table {
    margin: 0 auto;
}

#articles-table th{
    font-size: 2em;
    padding: 0.5em;
    color:#3D405B;
    padding: 50px;
}

.account-link {
    float: right;
}

.title {
    font-size: 1.5em;
    text-align: center;
    color:#3D405B;
    display: inline-block;
    margin: 60px auto 30px auto;
    width: 100%;
}

.subtitle {
    font-size: 1.5em;
    text-align: center;
    color:#3D405B;
    display: inline-block;
    margin: 10px auto 5px auto;
    width: 100%;
}

.form-label {
    font-size: 1.8em;
    text-align: center;
    color:#3D405B;
    display: inline-block;
    margin: 0.5em auto 0.3em auto;
    width: 100%;
}

.body {
    font-size: 1em;
    display: block;
    margin: 5% auto 2% auto;
    color:#5b5f88;
    width: 60%;
}

.delete-resource-link a {
    padding-top: 10px;
    height: 70px;
    width: 70px;
    display: block;
}

.delete-resource-link {
    text-align: center;
    background-color: #E07A5F;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    display: block;
    float: right;
    margin: 2%
}

.delete-resource-link:hover {
    background-color: #ff8d6d;
    color: #f0a73a;
}

.delete-resource-link:active {
    font-weight: bold;
}

.edit-resource-link {
    text-align: center;
    background-color: #3D405B;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    display: block;
    float: right;
    margin: 2%;
}

.edit-resource-link a {
    width: 70px;
    height: 70px;
    padding-top: 10px;
    display: block;
}

.edit-resource-link:hover {
    background-color: #5a5e85;
}

.edit-resource-link:active {
    font-weight: bold;
}

.back-link {
    text-align: center;
    background-color: #3D405B;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin: 2%;
    float: left;
    display: block;
}

.back-link a {
    width: 70px;
    height: 70px;
    padding-top: 10px;
    display: block;
}

.back-link:hover {
    background-color: #5a5e85;
}

.back-link:active {
    font-weight: bold;
}

.form-field {
    margin: 20px;
}

.form-field input{
    border-radius: 10px;
    width: 500px;
    height: 40px;
    margin: 0 auto;
    display: block;
    font-size: 1.5em;
    color:#5b5f88;
    border: 2px solid #F2CC8F;
    text-align: center;
}

.form-field input::placeholder {
    color: #5b5f88;
    opacity: 60%;
}
 .form-field textarea::placeholder {
    color: #5b5f88;
    opacity: 60%;
 }

.form-field input:focus{
    border: 3px solid #F2CC8F;
}

.form-field textarea{
    border-radius: 10px;
    height: 300px;
    margin: 0 auto;
    display: block;
    font-size: 1em;
    color:#5b5f88;
    border: 2px solid #F2CC8F;
    padding: 5px;
    text-align: center;
    font-size: 1.5em;
    min-width: 50px;
    max-width: 80%;
    width: 500px;
}

.form-field textarea:focus{
    border: 3px solid #F2CC8F;
}


.submit-button input {
    background-color: #81B29A;
    width: 340px;
    height: 70px;
    font-size: 1.7em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #FFFFFF;
    border: 1px solid #81B29A;
}

.submit-button input:hover {
    background-color: #a6e9c9;
    cursor: pointer;
}

.submit-button input:active {
    font-weight: bold;
    cursor: pointer;
}

.icon-tabler-pencil {
    float: right;
    padding: 10px 10px 0 0;
}

.navbar-link {
    font-size: 1.5em;
}

.submit-button {
    background-color: #364b41;
    width: 400px;
    height: 70px;
    margin: 30px auto 30px auto;
    border-radius: 10px;
}

.flash {
    display: block;
    margin: 10px auto 10px auto;
    width: 70%;
    height: 80px;
    background-color: #81B29A;
    opacity: 70%;
    border: 2px solid #577265;
    border-radius: 10px;
    text-align: center;
    padding: 15px 0 0 0;
    font-size: 1.5em;
}

.login-link {
    display: block;
    float: right;
    font-size: 1.5em;
    color: green;
}

.login-link a{
    color: #81B29A;
}

.login-link a:hover{
    color: #a9e7c9;
}

.login-link a:active{
    font-weight: bold;
}

.logout-link {
    display: block;
    float: right;
    font-size: 1.5em;
}

.logout-link a{
    color: #E07A5F;
}

.logout-link a:hover{
    color: #ff9a7e;
}

.logout-link a:active{
    font-weight: bold;
}

.property-title {
    padding: 0 0 0 0;
    display: block;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    color: #3D405B;
    font-weight: bold;
}

.property-body {
    padding: 10px 0 30px 0;
    display: block;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
    color: #3D405B;
}

.embedded-form {
    margin: 100px;
}

.info {
    font-size: 1em;
    text-align: center;
    margin: 0 auto 50px auto;
    color: #3D405B;
}

.info a {
    font-size: 1em;
    color: #3D405B;
}

.info a:hover {
    color: #939ad6;
}

.tag-link {
    margin: 0 auto;
    text-align: center;
}

.tag-link a {
    font-size: 1.3em;
    color: #3D405B;
    padding: 0 5px 0 5px;
}

.tag-link a:active {
    font-weight: bold;
}

.tag-link a:hover {
    color: #858bc7;
}

.article-tags a {
    font-size: 1em;
    color: #3D405B;
    padding: 0 5px 0 5px;
}

.article-tags a:hover {
    color: #888ec7;
}

.article-link {
    text-align: center;
    margin: 0 auto 0 auto;
}

.article-link a {
    color: #3D405B;
    font-size: 1.7em;
}

.title span{
    color: #888ec7;
}

.article-link a:hover {
    color: #888ec7;
}

.article-link a:active {
    font-weight: bold;
}

.article-image img{
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    border: 3px solid #F2CC8F;
}

.label {
    text-align: center;
    color: #3D405B;
    margin: 20px auto auto 5px;
}

.upload-link {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 0 0 0 38px;
}


.mobile-login-link {
    display: none;
}

.mobile-login-link svg:hover {
    stroke: #aae9cb;
}

.mobile-logout-link {
    display: none;
}

.mobile-logout-link svg:hover {
    stroke: #e5a593;
}

.mobile-account-link {
    display: none;
}

.mobile-account-link svg:hover {
    stroke: #f0a73a;
}

.mobile-articles-link {
    display: none;
}

.mobile-articles-link svg:hover {
    stroke: #f0a73a;
}

.mobile-authors-link {
    display: none;
}

.mobile-authors-link svg:hover {
    stroke: #f0a73a;
}

.mobile-tags-link {
    display: none;
}

.mobile-tags-link svg:hover {
    stroke: #f0a73a;
}

@media only screen and (max-width: 1200px) {
    #articles-table th{
        font-size: 2em;
        padding: 0.5em;
    }

    .table-link a {
        font-size: 1.7em;
    }
}

@media only screen and (max-width: 1024px) {
    #articles-table th{
        font-size: 1.5em;
        padding: 0.5em;
    }

    .table-link a {
        font-size: 1.5em;
    }

    .navbar-link {
        display: none;
    }

    .login-link {
        display: none;
    }

    .logout-link {
        display: none;
    }

    .mobile-login-link {
        display: inline;
        float: right;
        padding: 2px 10px 0 0;
        margin: 0;
        height: 10px
    }

    .mobile-logout-link {
        display: inline;
        float: right;
        padding: 2px 20px 20px 20px;
        margin: 0;
        height: 10px
    }

    .mobile-account-link {
        display: inline;
        float: right;
        padding: 2px 20px 20px 0;
        margin: 0;
        height: 10px
    }

    .mobile-articles-link {
        display: inline;
        float: left;
        padding: 2px 5px 0 20px;
        margin: 0;
        height: 10px
    }

    .mobile-authors-link {
        display: inline;
        float: left;
        padding: 2px 5px 0 30px;
        margin: 0;
        height: 10px
    }

    .mobile-tags-link {
        display: inline;
        float: left;
        padding: 2px 5px 0 30px;
        margin: 0;
        height: 10px
    }

    .article-image img {
        width: 480px;
    }
}

@media only screen and (max-width: 900px) {
    #articles-table th{
        font-size: 1.5em;
        padding: 0.5em;
    }

    .table-link a {
        font-size: 1.3em;
    }

    .article-update-time {
        font-size: 1.3em;
    }

    .article-tags {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 850px) {
    #articles-table th{
        font-size: 1.3em;
        padding: 0.5em;
    }

    .table-link a {
        font-size: 1em;
    }

    .article-update-time {
        font-size: 1em;
    }

    .article-tags {
        font-size: 1em;
    }
}

@media only screen and (max-width: 768px) {
    #articles-table th{
        display: none;
    }

    #articles-table {
        margin: 1em auto 1em auto;
    }

    .table-link a {
        font-size: 2em;
    }

    .article-update-time {
        display: none;
    }

    .article-author {
        display: none;
    }

    .article-tags {
        display: none;
    }
}